<main class="ml-4 mt-10">
  <section id="section-1" class="hidden">
    <h1 class="text-4xl font-semibold text-blue-400">Angular App</h1>

    <!-- conditional red text -->
    <h1 [class.text-red-600]="bool" class="mt-4">Red for True</h1>

    <!-- style binding -->
    <h1 class="mt-4" [style.color]="bool ? 'red' : 'blue'">Style Binding</h1>

    <div class="flex flex-col">
      <!-- event binding -->
      <button
        (click)="buttonClick()"
        class="mt-4 w-32 border border-solid border-black bg-slate-200 p-1"
      >
        Event Binding
      </button>

      <!-- Event Filtering -->
      <input
        type="text"
        (keyup)="onKeyUp(username.value)"
        class="mt-4 w-96 border border-solid border-black"
        #username
        [value]="textValue"
      />
      <input
        type="text"
        [(ngModel)]="textValue"
        (keyup)="secondInput($event)"
        class="mt-4 w-96 border border-solid border-black"
      />
    </div>

    <p class="mt-4">{{ msg }}</p>

    <p class="mt-4 text-lg">{{ message }}!</p>

    <app-navbar></app-navbar>
    <app-post
      [parentMessage]="parentMessage"
      (messageEvent)="receiveMessage($event)"
    ></app-post>

    <p>{{ fromChildOutput }}</p>

    <!-- Property Binding -->
    <!-- <img src="{{ imgUrl }}" /> -->
    <img [src]="imgUrl" alt="Beach Pic" class="w-1/2" />
  </section>

  <section id="section-2">
    <div class="flex flex-col items-center justify-center gap-4">
      <h1 class="text-3xl font-bold">Post Form</h1>
      <input
        type="text"
        class="w-56 border border-solid border-black"
        [(ngModel)]="postTitle"
      />
      <input type="text" class="h-56 w-72 border border-solid border-black" />
      <div>
        <input
          type="text"
          class="w-56 border border-solid border-black"
          [(ngModel)]="typedImage"
        />
        <button class="border border-solid border-black ml-4 w-20" (click)="submitImage()">Submit</button>
      </div>
      <input
        type="text"
        class="w-56 border border-solid border-black"
        [(ngModel)]="moreDetails"
      />
      <span>
        <input
          type="checkbox"
          (click)="changeChecked()"
          value="Add Background"
          class="mr-3"
        />
        Add Background
      </span>
      <div *ngIf="submitted">
        <img [src]="imageUrl" class="w-56" />
      </div>
    </div>
  </section>
</main>